<!-- jquery -->
<% if (isCdnEnable('jquery')) {%> 
  <%- getCdnScript('jquery') %> 
<% } else { %> 
  <%- js('lib/jquery/jquery.min') %>
<% } %>

<% if (page.photos && page.photos.length) { %>
  <% if (isCdnEnable('justified_gallery_js')) {%>
    <%- getCdnScript('justified_gallery_js') %> 
  <% } else { %> 
    <%- js('lib/justified-gallery/js/jquery.justifiedGallery.min.js') %>
  <% } %> 
<% } %>

<!-- clipboard -->
<% if (is_post()){ %>
  <% if (isCdnEnable('clipboard')) { %>
    <%- getCdnScript('clipboard') %> 
  <% } else { %> 
    <%- js('lib/clipboard/clipboard.min') %>
  <% } %>
  <script type="text/javascript">
  $(function() {
    // copy-btn HTML
    var btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"<%= __('tooltip.copy_tip') %>\">";
    btn += '<i class="far fa-clone"></i>';
    btn += '</span>'; 
    // mount it!
    $(".highlight table").before(btn);
    var clip = new ClipboardJS('.btn-copy', {
      text: function(trigger) {
        return Array.from($(trigger.nextElementSibling.querySelectorAll('.code')).find('.line')).reduce((st, i) => st + i.innerText + '\n', '')
      }
    });
    clip.on('success', function(e) {
      e.trigger.setAttribute('aria-label', "<%= __('tooltip.copied') %>");
      e.clearSelection();
    })
  })
  </script>
<% } %>

<!-- hiding some code -->
<% if (is_post()){ %>
  <script type="text/javascript">
  $(function() {
    'use strict';

    const lines = {};
    // hiding-code HTML
    const eye_btn = "<span class=\"btn-eye tooltipped tooltipped-sw\" aria-label=\"expand\">"
                + '  <i class="far fa-eye"></i>';
                + '</span>';
    // mount the btn
    $(".highlight.rust .btn-copy").before(eye_btn);

    // build the lines to hide
    const eyes = $('.btn-eye');
    const tables = $('.btn-eye~table');

    const match_codes = [];
    const match_gutters = [];
    const arrs = [match_codes, match_gutters];

    const wrap_arrs = (spans) => {
      // wraps lines in array into a span element
      arrs.forEach(arr => {
        if (arr.length > 0) {
          $(arr).wrapAll("<span class='boring'></span>");
          spans.push($(arr[0]).parent());
          arr.length = 0;
        }
      });
    };

    for (let i = 0; i < eyes.length; i++) {
      const id = "eye-" + i;
      eyes[i].id = id;
      const spans = [];
      const gutters = tables[i].querySelectorAll(".gutter .line");
      const codes = tables[i].querySelectorAll(".code .line");

      for (let j = 0; j < codes.length; j++) {
        if (codes[j].firstChild && codes[j].firstChild.textContent.startsWith("# ")) {
          // push lines to hide into array
          codes[j].firstChild.textContent = codes[j].firstChild.textContent.replace("# ", "");
          match_codes.push(codes[j]);
          match_codes.push(codes[j].nextElementSibling);
          if (gutters[j] !== undefined) {
            match_gutters.push(gutters[j]);
            match_gutters.push(gutters[j].nextElementSibling);
          }
        } else {
          wrap_arrs(spans);
        }
      }
      wrap_arrs(spans);

      if (spans.length === 0) {
        $("#" + id).remove();
      } else {
        // add index
        lines[id] = spans;
        spans.forEach(t => t.hide());
      }
    }
    $('.code').addClass('show');

    // handle click event
    for ( let id in lines) {
      const btn = $("#" + id);
      const icon = btn.find("i");
      btn.on("click", (e) => {
        if (icon.hasClass("fa-eye-slash")) {
          // hide lines
          lines[id].forEach(t => t.fadeOut());
          btn.attr("aria-label", "expand");
          icon.removeClass("fa-eye-slash");
        } else {
          // show lines
          lines[id].forEach(t => t.fadeIn());
          btn.attr("aria-label", "fold");
          icon.addClass("fa-eye-slash");
        }
      })
    }
  })
  </script>
<% } %>
<%- js('js/main') %>
<!-- search -->
<% if (config.search && (page.search || page.type === "search")){ %>
  <%- js('js/search.js') %>
  <script type="text/javascript">
  $(function() {

    var $inputArea = $("input#search-input");
    var $resultArea = document.querySelector("div#search-result");

    $inputArea.focus(function() {
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'search-input', 'search-result');
    });

    $inputArea.keydown(function(e) {
      if (e.which == 13) {
        e.preventDefault();
      }
    });

    var observer = new MutationObserver(function(mutationsList, observer) {
      if (mutationsList.length == 1) {
        if (mutationsList[0].addedNodes.length) {
          $(".search-no-result").hide();
        } else if (mutationsList[0].removedNodes.length) {
          $(".search-no-result").show(200);
        }
      }
    });

    observer.observe($resultArea, { childList: true });

  });
  </script>
<% } %>
<!-- Google Analytics -->
<% if (theme.google_analytics.enabled && theme.google_analytics.id){ %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics.id %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= theme.google_analytics.id %>');
    </script>
<% } %>
<!-- Baidu Analytics -->
<% if (theme.baidu_analytics.enabled && theme.baidu_analytics.id){ %>
  <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics.id %>";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
<% } %>
<!-- Cloudflare Analytics -->
<% if (theme.cloudflare_analytics.enabled && theme.cloudflare_analytics.id){ %>
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "<%= theme.cloudflare_analytics.id %>"}'></script>
<% } %>
<!-- Umami Analytics -->
<% if (theme.umami_analytics.enabled && theme.umami_analytics.id && theme.umami_analytics.host){ %>
  <script async defer data-website-id="<%= theme.umami_analytics.id %>" src="<%= theme.umami_analytics.host %>/umami.js"></script>
<% } %>
<!-- Disqus Comments -->
<% if (page.comments && theme.disqus.enabled && theme.disqus.shortname){ %>
    <script type="text/javascript">
        var disqus_shortname = '<%= theme.disqus.shortname %>';

        (function(){
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }());
    </script>
<% } %>
<!-- utterances Comments -->
<% if (page.comments && theme.utterances.enabled && theme.utterances.repo && theme.utterances.issue_term && theme.utterances.theme){ %>
    <script type="text/javascript">
      var utterances_repo = '<%= theme.utterances.repo %>';
      var utterances_issue_term = '<%= theme.utterances.issue_term %>';
      var utterances_label = '<%= theme.utterances.label %>';
      var utterances_theme = '<%= theme.utterances.theme %>';

      (function(){
          var script = document.createElement('script');

          script.src = 'https://utteranc.es/client.js';
          script.setAttribute('repo', utterances_repo);
          script.setAttribute('issue-term', 'pathname');
          script.setAttribute('label', utterances_label);
          script.setAttribute('theme', utterances_theme);
          script.setAttribute('crossorigin', 'anonymous');
          script.async = true;
          (document.getElementById('utterances_thread')).appendChild(script);
      }());
  </script>
<% } %>